<div class="container">
    <div *ngIf="empleados && empleados.length > 0">
        <h1 class="titulo2">Empleados Registrados</h1>
        <div class="row">
            <div class="d-flex flex-wrap">
                <div class="tarjeta" *ngFor="let empleado of empleados">
                    <div class="cabecera">
                        <h3 class="titulo">{{empleado.nombre}}</h3>
                    </div>
                    <div class="cuerpo">
                        <div class="detalle">
                            <h4 class="nombres"><strong>ID:</strong> {{empleado.idEmpleado}}</h4>
                            <h4 class="rol"><strong>Rol:</strong> {{empleado.rol}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
