<div class="body">
  <div class="header">
    <div class="logo">Seguridad</div>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav class="nav-bar">
      <ul>
        <li>
          <a href="" class="">Inicio</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/empleados">Empleados</a>
        </li>
        <li>
          <a href="/nosotros">Nosotros</a>
        </li>
      </ul>
    </nav>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        console.log("entrando");
      const hamburger = document.querySelector(".hamburger");
      const navBar = document.querySelector(".nav-bar");
  
      hamburger.addEventListener("click", function () {
          console.log("Hamburger clicked");
          navBar.classList.toggle("active");
      });
  });
    </script>
    
  </div>
</div>
<!--<div class="styles.html">
  <div class="contenedor">
      <h1 class="welcome">¡Bienvenido a Respawn!</h1>

      <div class="contenedores">
      <div class="contenedor3">
          <h4 class="registro">Inicia sesión</h4>

          <a href="/login" class="link">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              click aquí</a>
              </div>
      </div>
  </div></div>-->
  <router-outlet></router-outlet>

  