<div class="body">
  <div class="header">
    <div class="logo">Seguridad</div>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav class="nav-bar">
      <ul>
        <li>
          <a href="" class="">Inicio</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="">Empleados</a>
        </li>
        <li>
          <a href="">Nosotros</a>
        </li>
      </ul>
    </nav>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        console.log("entrando");
      const hamburger = document.querySelector(".hamburger");
      const navBar = document.querySelector(".nav-bar");
  
      hamburger.addEventListener("click", function () {
          console.log("Hamburger clicked");
          navBar.classList.toggle("active");
      });
  });
    </script>
  </div>
  
</div>
  <router-outlet></router-outlet>
  