<div class="body">
<div class="person">
    <div class="container">
      <div class="container-inner">
        <img class="circle" src="/assets/brandon.jpg">
      </div>
    </div>
    <div class="divider"></div>
    <div class="name">Brandon</div>
    <div class="title">Tecnologías Computacionales</div>
  </div>
  <div class="person">
    <div class="container">
      <div class="container-inner">
        <img class="circle" src="/assets/alan.jpg">
      </div>
    </div>
    <div class="divider"></div>
    <div class="name">Alan</div>
    <div class="title">Tecnologías Computacionales</div>
  </div>
  <div class="person">
    <div class="container">
      <div class="container-inner">
        <img class="circle" src="/assets/luis.jpg">
      </div>
    </div>
    <div class="divider"></div>
    <div class="name">Luis</div>
    <div class="title">Redes y servicios de computo</div>
  </div>
  <div class="person">
    <div class="container">
      <div class="container-inner">
        <img class="circle" src="/assets/less.jpg">
      </div>
    </div>
    <div class="divider"></div>
    <div class="name">Less</div>
    <div class="title">Redes y servicios de computo</div>
  </div>
</div>