<div class="body">
<div class="person">
    <div class="container">
      <div class="container-inner">
        <img class="circle" src="https://media.gq.com.mx/photos/609c0fdeee4372271f0b9056/1:1/w_2000,h_2000,c_limit/salir%20guapo%20en%20fotos-605380757.jpg">
      </div>
    </div>
    <div class="divider"></div>
    <div class="name">Brandon</div>
    <div class="title">Tecnologías Computacionales</div>
  </div>
  <div class="person">
    <div class="container">
      <div class="container-inner">
        <img class="circle" src="https://media.gq.com.mx/photos/609c0fdeee4372271f0b9056/1:1/w_2000,h_2000,c_limit/salir%20guapo%20en%20fotos-605380757.jpg">
      </div>
    </div>
    <div class="divider"></div>
    <div class="name">Alan</div>
    <div class="title">Tecnologías Computacionales</div>
  </div>
  <div class="person">
    <div class="container">
      <div class="container-inner">
        <img class="circle" src="/assets/luis.jpg">
      </div>
    </div>
    <div class="divider"></div>
    <div class="name">Luis</div>
    <div class="title">Redes y servicios de computo</div>
  </div>
  <div class="person">
    <div class="container">
      <div class="container-inner">
        <img class="circle" src="https://media.gq.com.mx/photos/609c0fdeee4372271f0b9056/1:1/w_2000,h_2000,c_limit/salir%20guapo%20en%20fotos-605380757.jpg">
      </div>
    </div>
    <div class="divider"></div>
    <div class="name">Less</div>
    <div class="title">Redes y servicios de computo</div>
  </div>
</div>